@media only screen and (max-width: 1024px) {
  .suggested-movie-img img {
    max-width: 175px;
  }
  .main-movie-img img {
    max-width: 175px;
  }
  .main-movies {
    padding: 25px 0 0 0;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    justify-items: center;
    grid-template-areas: "logo social"
                          "search search";
  }
  .logo-container {
    grid-area: logo;
    justify-self: flex-start;
  }
  .social-container {
    grid-area: social;
    justify-self: flex-end;
  }
  .search-movie-container {
    grid-area: search;
    padding-top: 15px;
    max-width: 500px;
  }
  .suggested-movies-container {
    padding: 20px 20px 10px;
  }
  .suggested-movies {
    margin: 25px 10px 10px;
  }
  .main {
    grid-row: 2 / 3;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    grid-template-areas:  "suggested-movies suggested-movies"
                          "options-movies options-movies"
                          "main-movies main-movies";
    gap: 20px;
  }
  .category-movies-container {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    padding: 10px 0;
  }
  .logo-img {
    width: 45px;
    height: 45px;
  }
  .logo-title {
    font-size: 18px;
  }
  .logo-subtitle {
    font-size: 16px;
  }
  .social-container {
    width: 125px;
  }
  .social-img {
    width: 30px;
    height: 30px;
  }
  .search-input {
    font-size: 14px;
  }
  .suggested-movies {
    margin: 15px 0 0;
  }
  .suggested-movie-img img {
    max-width: 175px;
  }
  .main-movies {
    padding: 15px 0 0 0;
    justify-content: space-between;
  }
  .main-movie-img img {
    max-width: 165px;
  }
  .suggested-movies-container h1 {
    font-size: 18px;
  }
  .main-movies-container h1 {
    font-size: 18px;
  }
  .movie-details-img {
    float: none;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .movie-details-img img {
    width: 100%;
  }
  .category-movies-container {
    padding: 10px 20px;
  }
  .category-movies-container h2 {
    font-size: 16px;
  }
  .page-number-container {
    max-width: 200px;
    font-size: 14px;
  }
  .search-movie-container {
    padding: 15px 20px 0 20px;
  }
  .search-loader {
    margin-right: 30px;
  }
  .movie-list {
    position: relative;
  }
  .movie-list li strong {
    font-size: 14px;
  }
  .movie-list li span {
    font-size: 12px;
  }
  .trailer-title  {
    margin-bottom: 15px;
  }
  .yt-trailer {
    padding: 0;
  }
  .download-title {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .main-movies {
    justify-content: center;
  }
  .main-movie-img img {
    max-width: 200px;
  }
}